
@{
    ViewBag.Title = "SendEmail_2";
}

<h2>SendEmail_2</h2>
<!DOCTYPE
<html>
<head>
    <title></title>
</head>
<body>
    <form method="post" action="~/SendEmail/SendEmail_2">
        E-mail:<br>
        <input type="email" name="toemail" value="" id="email" /><br>
        Subject:<br>
        <input type="text" name="subject" value="" id="subject" /><br>
        Body:<br>
        <input type="text" name="body" value="" id="body" /><br>
        <input type="submit" name="submit" value="submit" />
    </form>
</body>
</html>
